.App {
  /* padding:20px; */
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  word-wrap: break-word;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-floor {
  border: 10px solid #b2572a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Floor 7*/

.horizontal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.room {
  position: relative;
  width: 40%;
  border-right: 10px solid #b2572a;
  display: flex;
  justify-content: space-between;
}
.container-seat {
  width: fit-content;
}
.door-room {
  position: absolute;
  width: 20%;
  border-bottom: 5px solid #b2572a;
  transform: rotate(10deg);
}
.line {
  position: absolute;
  border-bottom: 10px solid #b2572a;
}
.horizontal-table {
  height: 35px;
  background-color: #b2572a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0.5px solid #fff;
}
.container-vertical {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.vertical-table {
  width: 40px;
  height: 90px;
  background-color: #b2572a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0.5px solid #fff;
}
/* Floor 8*/
.wrap-room-meeting {
  width: 15%;
}
.room-meeting-top {
  height: 50%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-bottom: 10px solid #b2572a;
}
.room-meeting-bot {
  position: relative;
  height: 50%;
  border-top: 15px solid #b2572a;
}
.line-height {
  position: absolute;
  width: 10px;
  border-left: 10px solid #b2572a;
}
.horizontal-container .img-avatar-horizontal {
  position: absolute;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 33%;
}
.horizontal-container .img-avatar-lyingHorizontally {
  position: absolute;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 27%;
}
.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 4px solid rgba(200,200,200,0.4);
	border-radius: 50%;	/* relative value */
	/*box-shadow: 0px 0px 5px rgba(0,0,0,0.4);*/
	transition: linear 0.25s;
  height: 128px;
  width: 128px;
}
.circle img {
	border-radius: 50%;
  height: 120px;
  width: 120px;

}
.img-avatar-vertical {
  position: absolute;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 22%;
  left: 35%;
}
/* floor 9 */
.wardrobe {
  width: 15px;
  height: 100px;
  background-color: #d29e9e;
}
.filing-cabinets {
  width: 15%;
  height: 100%;
  background-color: #b2572a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.cabinet {
  background-color: #b2572a;
  width: 150px;
  height: 100px;;
  border: 1px solid #fff;
}
.cabinet-vertical {
  background-color: #b2572a;
  width: 100px;
  height: 170px;
  border: 1px solid #fff;
}
/* floor 10 */
.board {
  width: 15px;
  height: 200px;
  background-color: rgb(81, 81, 230);
  position: absolute;
  top: 35%;
  left: 0;
}