.App {
  /* padding:20px; */
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
.container-floor {
  border: 10px solid #b2572a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Floor 7*/

.horizontal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.room {
  position: relative;
  width: 40%;
  border-right: 10px solid #b2572a;
  display: flex;
  justify-content: space-between;
}
.container-seat {
  width: fit-content;
}
.door-room {
  position: absolute;
  width: 20%;
  border-bottom: 5px solid #b2572a;
  transform: rotate(10deg);
}
.line {
  position: absolute;
  border-bottom: 10px solid #b2572a;
}
.horizontal-table {
  height: 35px;
  background-color: #b2572a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0.5px solid #fff;
}
.container-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-table {
  width: 35px;
  height: 75px;
  background-color: #b2572a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0.5px solid #fff;
}
/* Floor 8*/
.wrap-room-meeting {
  width: 15%;
  height: 100%;
}
.room-meeting-top {
  height: 50%;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-bottom: 10px solid #b2572a;
}
.room-meeting-bot {
  position: relative;
  height: 50%;
  border-top: 15px solid #b2572a;
}
.line-height {
  position: absolute;
  width: 10px;
  border-left: 10px solid #b2572a;
}