.App {
  padding:20px;
}
/* Floor 7*/
.container-floor-seven {
  border: 10px solid #cf5454;
  height: 100vh;
}
.room {
  width: 40%;
  border-right: 10px solid #cf5454;
  border-bottom: 10px solid #cf5454;
  height: 25%;
}